# Intellij
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
/out/

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Maven
log/
target/

# Package Files #
*.jar
!/.mvn/wrapper/maven-wrapper.jar
*.war
*.zip
*.tar.gz


# Logfiles

hs_err_pid*
